<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<div class="container-lg today">
  <h2>Journals</h2>
  </div>


<% journals.forEach(function(j) { %>
  <div class="container-lg">
    <div class="item-b"><%= moment(j.date).format('dddd' + ', ' + 'MMMM Do YYYY') %></div>
    <%= j.content %>
    <form action="/journals/<%= j._id %>?_method=DELETE" class="delete-form" method="POST">
      <button type="submit">Delete</button>
     </form>
    </div>
    
  <% }); %>
 
 <%- include('../partials/footer') %>