<%- include('./partials/header') %>
<%- include('./partials/nav') %>

<div class="container-lg today">
<% let today = new Date() %>
<% today.setHours(0,0,0,0) %>
<h2><%= day.format('dddd' + ', ' + 'MMMM Do YYYY') %></h2>
</div>

<div class="container-lg">
  <div class="item-a"><h6>Current Goal</h6></div>
  <% if (goals) { %>
    <% goals.forEach(function(g) { %>
      <% if (g.active === true) { %>
      <div class="link"><a href="/goals/<%= g._id %>"><%= g.name %></a></div>
     <% } %>
    <% }); %>
  <% } else { %>
    <h6>No Active Goals Yet</h6>
  <% } %>
</div>

<div class="container-lg">
  <div class="item-b"><h6>Action Items</h6></div>
  <% if (tasks) { %>
    <table>
    <% tasks.forEach(function(t) { %>
      <% if (t.dueDate) { %>
      <% if (t.dueDate.setHours(0,0,0,0) <= today && t.done === false) { %>
        <tr>
        <td>        
          <form action="/tasks/isdone/<%= t._id %>?_method=PUT" method="POST">
          <input type="checkbox" name="done"
          <% if (t.done) { %>
          <%= ' checked ' %> 
          <% } %>
          onChange="this.form.submit()">
          </form>
        </td>
        <td><%= t.name %></td>
        </tr>
      <% } %>
      <% } %>
     <% }) %>
    </table>
  <% } else { %>
    <h6>No Tasks Yet</h6>
  <% } %>

</div>

<div class="container-lg">
  <div class="item-c"><h6>Journal</h6></div>

  <form id="new-form" action="/journals" method=" POST">
    <input type="text" name="content">
    <input type="submit" value="Submit Journal">
  </form>

</div>

<div class="container-lg">
  <div class="item-b"><h6>Habits</h6></div>
  <% if (habits) { %>
    <% habits.forEach(function(h) { %>
      <% if (h.frequency.includes(today.getDay())) { %>
        <div class="link">
          <table>
        <tr>
        <td>        
          <form action="/habits/isdone/<%= h._id %>?_method=PUT" method="POST">
          <input type="checkbox" name="done" onChange="this.form.submit()"
          <% if (h.history.includes(today.toString())) { %>
          <%= ' checked ' %> 
          <% } %>
          >
          </form>
        </td>
        <td><a href="/goals/<%= h._id %>"><%= h.name %></a></td>
        </tr>
      </table>
      </div>
        <% } %>
        <% }) %>
      <% } else { %>
  <h6>No Habits Today </h6>
  <% } %>
</div>

<%- include('./partials/footer') %>