<%- include('./partials/header') %>
<%- include('./partials/nav') %>

<% let today = new Date(new Date().setHours(0,0,0,0)) %>
<h2><%= today %></h2>

<div class="container-lg">
  <h6>Current Goal:</h6>
  <% if (goals) { %>
    <h6>ya we got goals</h6>
    <% goals.forEach(function(g) { %>
      <% if (g.active === true) { %>
      <%= g.name %>
     <% } %>
    <% }); %>
  <% } else { %>
    <h6>No Active Yet</h6>
  <% } %>
</div>

<div class="container-lg">
  <h6>Today's Action Items</h6>
  <% if (tasks) { %>
    <h6>ya we got tasks</h6>
    <% tasks.forEach(function(t) { %>
      <% if (t.dueDate.setHours(0,0,0,0) <= today) { %>
        <%= t.name %>
        <%= t.dueDate.toDateString() %>
      <% } %>
      <br>
     <% }) %>
  <% } else { %>
    <h6>No Tasks Yet</h6>
  <% } %>
</div>

<div class="container-lg">
  <h6>Journal</h6>

  <form id="new-form" action="/journals" method="POST">
    <input type="text" name="content">
    <input type="submit" value="Submit Journal">
  </form>

</div>

<div class="container-lg">
  <h6>Habit Tracker</h6>
</div>

<%- include('./partials/footer') %>