<%- include('../partials/header') %>
<%- include('../partials/nav') %>
<h2>Edit Goal!</h2>

<form action="/goals/<%= goal._id %>?_method=PUT" method="POST">
  <label>Name:</label>
  <input type="text" name="name" value="<%= goal.name %>">
  <label>Details:</label>
  <input type="text" name="details" value="<%= goal.details %>">
  <label>Start Date:</label>
  <input type="datetime-local" name="startDate" value="<%= startValue %>">
  <label>End Date:</label>
  <input type="datetime-local" name="dueDate" value="<%= dueValue %>">
  <input type="submit" value="Update Goal">
</form>

<form action="/goals/<%= goal.id %>?_method=DELETE" class="delete-form" method="POST">
  <input type="submit" value="Delete Goal">
</form>

<%- include('../partials/footer') %>