<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<div style="overflow-x:auto;" class="container-lg goals">
<table id="list">
  <thead>
    <tr class="item-a">
      <th></th>
      <th>Goal Name</th>
      <th>Start Date</th>
      <th>Due Date</th>
    </tr>
  </thead>  
  <tbody>
    <% goals.forEach(function(g) { %>
      <tr>
        <td>
          <form action="/goals/<%= g._id %>?_method=DELETE" class="delete-form" method="POST">
            <button type="submit">X</button>
          </form>
        </td>
        <td><div class="link"><a href="/goals/<%= g._id %>"><%= g.name %></a></div></td>
        <td><%= moment(g.startDate).format("MMM Do"); %></td>
        <td><%= moment(g.dueDate).format("MMM Do"); %></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  </div>
  <a href="/goals/new">New Goal</a>
<%- include('../partials/footer') %>
