<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<table id="list">
  <thead>
    <tr>
      <th>Goal Name</th>
      <th>Details</th>
      <th>Start Date</th>
      <th>Due Date</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= thisGoal.name %></td>
        <td><%= thisGoal.details %></td>
        <td><%= thisGoal.startDate %></td>
        <td><%= thisGoal.dueDate %></td>
      </tr>
    </tbody>
  </table>
  <h5>Tasks</h5>
  <table>
  <% tasks.forEach(function(t) { %>
    <tr>
    <td>
    <form action="/tasks/isdone/<%= t._id %>?_method=PUT" method="POST">
      <input type="checkbox" name="done"
      <% if (t.done) { %>
      <%= ' checked ' %> 
      <% } %>
      onChange="this.form.submit()">
    </form>
    </td>
    <td>
    <div><%= t.name %></div>
    </td>
    </tr>
  <% }) %>
  </table>

  <h5>Add new task</h5>

  
  <a href="/goals/<%= thisGoal.id %>/edit">Edit Goal</a>

  <%- include('../partials/footer') %>