<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<table id="list">
  <thead>
    <tr>
      <th>Goal Name</th>
      <th>Details</th>
      <th>Start Date</th>
      <th>Due Date</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= thisGoal.name %></td>
        <td><%= thisGoal.details %></td>
        <td><%= thisGoal.startDate %></td>
        <td><%= thisGoal.dueDate %></td>
      </tr>
    </tbody>
  </table>
  <h2>Tasks</h2>
  <% tasks.forEach(function(task) { %>
    <div><%= task.name %></div>
  <% }) %>

  <a href="/goals/<%= thisGoal.id %>/edit">Edit Goal</a>

  <%- include('../partials/footer') %>