<%- include('../partials/header') %>
<%- include('../partials/nav') %>
<h2>Edit TASK!</h2>

<form action="/tasks/<%= task._id %>?_method=PUT" method="POST">
  <label>Name:</label>
  <input type="text" name="name" value="<%= task.name %>">
  <label>Details:</label>
  <input type="text" name="details" value="<%= task.details %>">
  <label>Due Date:</label>
  <input type="date" name="dueDate" value="<%= dueValue %>">


  <select name="goalId">
    <% goals.forEach(function(goal) { %>
      <% if (task.goal && goal._id.toString() === task.goal._id.toString()) { %>
      <option value="<%= goal._id %>" selected="selected"><%= goal.name %></option>
      <% } else { %>
      <option value="<%= goal._id %>"><%= goal.name %></option>  
      <% } %>
    <% }) %>
    <option value="null"> -- </option>
  </select>

  <input type="submit" value="Update Task">
</form>

<%- include('../partials/footer') %>