<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<div class="container-lg today">
  <h2>Tasks</h2>
</div>

<div style="overflow-x:auto;" class="container-lg goals">
  <table id="list">
    <thead>
      <tr class="item-a">
      <th id="checkbox"></th>
      <th>Task</th>
      <th>Details</th>
      <th>Due Date</th>
      <th>Goal</th>
      <th id="checkbox"></th>
    </tr>
  </thead>
  <tbody>
    <% tasks.forEach(function(t) { %>
      <tr>
        <td id="checkbox">
          <form action="/tasks/isdone/<%= t._id %>?_method=PUT" method="POST">
          <input type="checkbox" name="done"
          <% if (t.done) { %>
          <%= ' checked ' %> 
          <% } %>
          onChange="this.form.submit()">
          </form>
        </td>
        <td><a href="/tasks/<%= t._id %>/edit"><%= t.name %></a></td>
        <td><%= t.details %></td>
        <td><%= moment(t.dueDate).format('l') %></td>
        <td> <% if (t.goal) { %>
             <%= t.goal.name %>
            <% } %> </td>
        <td id="checkbox">
          <form action="/tasks/<%= t._id %>?_method=DELETE" class="delete-form" method="POST">
            <button type="submit">X</button>
          </form>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <a href="/tasks/new">New Task</a>
  </div>

<%- include('../partials/footer') %>