<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<div class="container-lg today">
  <h2>Habits</h2>
</div>

<div style="overflow-x:auto;" class="container-lg goals">
  <table id="list">
    <thead>
      <tr class="item-c">
      <th>Habit</th>
      <th>Goal</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% habits.forEach(function(h) { %>
      <% console.log(h) %>
      <tr>
        <td><a href="/habits/<%= h._id %>"><%= h.name %></a></td>
        <td>
        <% if (h.goal) { %> 
        <% h.goal.forEach(function(g) { %>
          <a href="/goals/<%= g._id %>"><%= g.name %></a> 
        <%  }) %>
        <% } %>
        </td>

        
        <td>
          <form action="/habits/<%= h._id %>?_method=DELETE" class="delete-form" method="POST">
            <button type="submit">X</button>
          </form>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  </div>

<%- include('../partials/footer') %>