<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<table id="list">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>
          <form action="/habits/<%= habit._id %>?_method=PUT" method="POST">
          <input type="checkbox" name="complete" onChange="this.form.submit()">
          </form>
        </td>
        <td><%= habit.name %></td>
        <td><%= habit.target %></td>
        <td><%= habit.history.length %></td>
      </tr>
    </tbody>
  </table>

  <% if (habit.history.length) { %>
    <% let array = habit.history.map(d => d.getDay()) %>
    <div id="chart">
    <% let i = 0 %>
    <% let z = 0 %>
    <% while (i < array.length) { %>
      <div><%= array[i] %></div>
      <% z += 1 %>

      <% if (array[i] >= array[i + 1]) { %>

       <% for (let j = 0; j < habit.target - z; j++) { %>
        <div></div>
        <% } %>

         </div> 
         <div id="chart">
         <% z = 0 %>
        <% } %>

        <% i++ %>
        <% } %>
      <% for (let j = 0; j < habit.target - z; j++) { %>
      <div></div>
      <% } %>   
      </div>
  <% } %>    

  <a href="/habits/<%= habit.id %>/edit">Edit Habit</a>

  <%- include('../partials/footer') %>